<a href="https://colab.research.google.com/github/mayurpadore/upGrad/blob/main/Python%20Analysis/Adidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/adidas (2).csv')

In [ ]:
# Shape of the dataset
print("Shape of the dataset:", df.shape)

# Information about the dataset
print("\nInformation about the dataset:")
df.info()

# Descriptive statistics
print("\nDescriptive statistics:")
print(df.describe())

Shape of the dataset: (9648, 14)

Information about the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9648 entries, 0 to 9647
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        9648 non-null   int64
 1   Retailer          9648 non-null   object
 2   Retailer ID       9648 non-null   int64
 3   Invoice Date      9648 non-null   object
 4   Region            9648 non-null   object
 5   State             9648 non-null   object
 6   City              9648 non-null   object
 7   Product           9648 non-null   object
 8   Price per Unit    9648 non-null   float64
 9   Units Sold        9648 non-null   int64
 10  Total Sales       9648 non-null   float64
 11  Operating Profit  9648 non-null   float64
 12  Operating Margin  9648 non-null   float64
 13  Sales Method      9648 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 1.0+ MB

Descriptive statistics:
        Unnamed: 0   Retailer ID  Price per Unit   Units Sold    Total Sales  \
count  9648.000000  9.648000e+03     9648.000000  9648.000000    9648.000000
mean   4823.500000  1.173850e+06       45.216625   256.930037   93273.437500
std    2785.282032  2.636038e+04       14.705397   214.252030  141916.016727
min       0.000000  1.128299e+06        7.000000     0.000000       0.000000
25%    2411.750000  1.185732e+06       35.000000   106.000000    4254.500000
50%    4823.500000  1.185732e+06       45.000000   176.000000    9576.000000
75%    7235.250000  1.185732e+06       55.000000   350.000000  150000.000000
max    9647.000000  1.197831e+06      110.000000  1275.000000  825000.000000

       Operating Profit  Operating Margin
count       9648.000000       9648.000000
mean       34425.244761          0.422991
std        54193.113713          0.097197
min            0.000000          0.100000
25%         1921.752500          0.350000
50%         4371.420000          0.410000
75%        52062.500000          0.490000
max       390000.000000          0.800000

In [ ]:
print(df.columns)  # This will print a list of all column names

Index(['Unnamed: 0', 'Retailer', 'Retailer ID', 'Invoice Date', 'Region',
       'State', 'City', 'Product', 'Price per Unit', 'Units Sold',
       'Total Sales', 'Operating Profit', 'Operating Margin', 'Sales Method'],
      dtype='object')

In [ ]:
# Data Cleaning and Preprocessing (if needed)
# Assuming 'InvoiceDate' is the correct column name after verifying with df.columns
df['Invoice Date'] = pd.to_datetime(df['Invoice Date'], errors='coerce')  # Handle potential errors during conversion
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces from column names

In [ ]:
# 1. Top Months with Maximum Sales
df['Month'] = df['Invoice Date'].dt.month_name()
monthly_sales = df.groupby('Month')['Total Sales'].sum()  # Changed to 'Total Sales'
top_months = monthly_sales.sort_values(ascending=False).head(5)
print("\nTop months with maximum sales:")
print(top_months)

Top months with maximum sales:
Month
July         95480694.0
August       92166201.0
December     85841957.0
May          80507695.0
September    77661459.0
Name: Total Sales, dtype: float64

In [ ]:
# 2. Sales on Weekdays vs. Weekends
df['DayOfWeek'] = df['Invoice Date'].dt.day_name()
df['IsWeekend'] = df['DayOfWeek'].apply(lambda x: 1 if x in ['Saturday', 'Sunday'] else 0)
weekday_sales = df[df['IsWeekend'] == 0]['Total Sales'].sum()  # Changed to 'Total Sales'
weekend_sales = df[df['IsWeekend'] == 1]['Total Sales'].sum()  # Changed to 'Total Sales'
print("\nSales on Weekdays:", weekday_sales)
print("Sales on Weekends:", weekend_sales)
if weekday_sales > weekend_sales:
    print("Sales are generally higher on weekdays.")
else:
    print("Sales are generally higher on weekends.")

Sales on Weekdays: 661954158.0
Sales on Weekends: 237947967.0
Sales are generally higher on weekdays.

In [ ]:
# 3. Top Selling and Most Profitable Products
product_sales = df.groupby('Product')['Total Sales'].sum().sort_values(ascending=False)  # Changed to 'Total Sales'
top_selling_products = product_sales.head(5)
print("\nTop selling products:")
print(top_selling_products)

product_profit = df.groupby('Product')['Operating Profit'].sum().sort_values(ascending=False)  # Changed to 'Operating Profit'
most_profitable_products = product_profit.head(5)
print("\nMost profitable products:")
print(most_profitable_products)

Top selling products:
Product
Men's Street Footwear      208826244.0
Women's Apparel            179038860.0
Men's Athletic Footwear    153673680.0
Women's Street Footwear    128002813.0
Men's Apparel              123728632.0
Name: Total Sales, dtype: float64

Most profitable products:
Product
Men's Street Footwear      82802260.62
Women's Apparel            68650970.56
Men's Athletic Footwear    51846888.19
Women's Street Footwear    45095826.81
Men's Apparel              44763030.33
Name: Operating Profit, dtype: float64

In [ ]:
df.head()

,Unnamed: 0,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method,Month,DayOfWeek,IsWeekend
0,0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store,January,Wednesday,0
1,1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store,January,Thursday,0
2,2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store,January,Friday,0
3,3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store,January,Saturday,1
4,4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store,January,Sunday,1

In [ ]:
# 4. Correlation between Variables
# Select only numeric columns and drop irrelevant ones
numeric_df = df.select_dtypes(include=np.number).drop(columns=['Unnamed: 0', 'Retailer ID'])

# Calculate correlation matrix on numeric columns
correlation_matrix = numeric_df.corr()

print("\nCorrelation between variables:")
print(correlation_matrix)

Correlation between variables:
                  Price per Unit  Units Sold  Total Sales  Operating Profit  \
Price per Unit          1.000000    0.265869     0.435811          0.394546
Units Sold              0.265869    1.000000     0.913431          0.892379
Total Sales             0.435811    0.913431     1.000000          0.956307
Operating Profit        0.394546    0.892379     0.956307          1.000000
Operating Margin       -0.137486   -0.305479    -0.364592         -0.211920
IsWeekend              -0.085303   -0.034317    -0.036925         -0.038288

                  Operating Margin  IsWeekend
Price per Unit           -0.137486  -0.085303
Units Sold               -0.305479  -0.034317
Total Sales              -0.364592  -0.036925
Operating Profit         -0.211920  -0.038288
Operating Margin          1.000000  -0.011627
IsWeekend                -0.011627   1.000000

In [ ]:
# 5. Calculate citywise total sales and operating profit
city_profit = df.groupby('City')[['Total Sales', 'Operating Profit']].sum()

# Calculate profit percent for each city
city_profit['Profit Percent'] = (city_profit['Operating Profit'] / city_profit['Total Sales']) * 100

# Display the results
print("\nCitywise Profit Percent:")
print(city_profit[['Profit Percent']])

Citywise Profit Percent:
                Profit Percent
City
Albany               38.602942
Albuquerque          33.919230
Anchorage            30.490846
Atlanta              36.285311
Baltimore            35.545516
Billings             39.667003
Birmingham           51.876376
Boise                42.128788
Boston               30.278355
Burlington           40.312113
Charleston           39.042575
Charlotte            40.725524
Cheyenne             35.225758
Chicago              40.014018
Columbus             40.730376
Dallas               42.305510
Denver               36.737278
Des Moines           35.765267
Detroit              43.681637
Fargo                34.755244
Hartford             35.877992
Honolulu             26.252913
Houston              38.673790
Indianapolis         38.243326
Jackson              40.849241
Knoxville            47.010866
Las Vegas            33.850224
Little Rock          38.892024
Los Angeles          35.283603
Louisville           39.073659
Manchester           35.256665
Miami                38.507237
Milwaukee            36.245116
Minneapolis          36.191450
New Orleans          39.650206
New York             34.923472
Newark               36.814442
Oklahoma City        38.665239
Omaha                41.144591
Orlando              31.635426
Philadelphia         40.132577
Phoenix              33.865098
Portland             35.228580
Providence           36.058804
Richmond             35.779450
Salt Lake City       39.947002
San Francisco        29.694503
Seattle              26.552269
Sioux Falls          34.645305
St. Louis            40.350123
Wichita              35.196983
Wilmington           36.788083

In [ ]:
# 6. Calculate total sales for each retailer
retailer_sales = df.groupby('Retailer')['Total Sales'].sum()

# Calculate total sales for all retailers
total_sales = retailer_sales.sum()

# Calculate market share for each retailer
retailer_sales['Market Share'] = (retailer_sales / total_sales) * 100

# Display the results
print("\nMarket Share of Each Retailer:")
print(retailer_sales[['Market Share']])

Market Share of Each Retailer:
Retailer
Market Share    Retailer
Amazon            8.634151
Foot Locke...
Name: Total Sales, dtype: object

In [ ]:
# 7. Group by region and retailer, then sum total sales
region_retailer_sales = df.groupby(['Region', 'Retailer'])['Total Sales'].sum()

# Get the top retailer for each region
top_retailers = region_retailer_sales.groupby('Region').idxmax()

# Display the results
print("\nTop Retailers with Respect to Regionwise Sales:")
print(top_retailers)

Top Retailers with Respect to Regionwise Sales:
Region
Midwest        (Midwest, Foot Locker)
Northeast    (Northeast, Foot Locker)
South          (South, Sports Direct)
Southeast    (Southeast, Foot Locker)
West                (West, West Gear)
Name: Total Sales, dtype: object

In [ ]:
# 8. Calculate total sales for each sales method
sales_method_sales = df.groupby('Sales Method')['Total Sales'].sum()

# Get the sales method with the highest sales
top_sales_method = sales_method_sales.idxmax()

# Display the result
print("\nTop Sales Mode:")
print(top_sales_method)

Top Sales Mode:
In-store